header{
    border-style:solid}
  header{
    font-family:copperplate;}
  header{
    text-align:center;}
  header{
    padding:8px;
  }
  body{
  background-image:url("https://wcet.waketech.edu/ecdollarhide/Web210/Web210_A/Module02/WidgetCoLogo.gif");
    background-repeat:no-repeat;
    background-position:center;
    height:780px;
  
  aside{
    float:right;
    padding:10px;
    text-align:right;
    line-height:20px;
  }
  
  h1{
    padding:20px
  }
  h1{
    font-size:40px;
  }
  
  h2{
    text-align:center;
  }
  h2{
    font-style:italic;
  }
  h2{
    font-size:26px;
    margin:40px;
  }
  
  p{
    text-align:center;}
  
   p{
      margin: 40px;
      text-align:justify;
     line-height:25px;
    }
  
  section{
    border-style:solid;
    border-left-width:25px;
    background-color:#FFFFE0;
    border-color:#6B8E23;
    width:auto;
    padding:15px;
    text-align:justify;
    margin:30px;
    line-height:20px;
  }
  
  footer{
    text-align:right;
    padding:10px;
    font-style:italic;
    color:#D3D3D3;
  }